<% layout('layouts/boilerplate')%>
    <h1 class="text-center text-success">TRANSACTION SUCCESSFUL !!</h1>
    <div class="row mt-5">
        <div class="col-2 offset-5">
            <a href="/">
                <button class="btn btn-info">Home Page</button>
            </a>
        </div>
    </div>